<nav class="navbar navbar-expand-xxl navbar-dark " aria-label="Seventh navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" >Furama</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarsExampleXxl" style="">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/customer']" >Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/facility']" >Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/employee']" >Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contract']" >Contract</a>
        </li>
      </ul>
      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
