<div class="body">
  <div class="center justify-content-center">
    <h1>Our Newsletter</h1>
    <form>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Name</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Birthday</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Address</span>
      </div>
      <div class="inputbox">
        <input type="button" value="submit">
      </div>

    </form>
  </div>
</div>

