<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Id Card</th>
    <th>Position</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Division</th>
    <th>Education Degree</th>
    <th>Salary</th>
  </tr>

  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<!--modal delete-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="card">
      <div class="card-img"> <img class="img-fluid" src="https://i.imgur.com/4niebFr.jpg"> </div>
      <div class="card-title">
        <p>Success!</p>
      </div>
      <div class="card-text">
        <p>Yay! It's a nice order! <br>It will arrive soon.</p>
      </div> <button class="btnModal">Track delivery</button>
    </div>
  </div>
</div>

