<a [routerLink]="['/facility/create']">Create Service</a>
<div class="container mx-auto mt-4">
  <div class="row">
      <div class="col-md-4" *ngFor="let facility of facilityList">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/product_2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{facility.name}}</h5>
            <p class="card-text">Cost: {{facility.cost}}</p>
            <p class="card-text">Max Of People: {{facility.maxOfPeople}}</p>
            <p class="card-text">Rent Type: {{facility.rentType.name}}</p>
            <p class="card-text">Area: {{facility.area}}</p>
            <a routerLink="/facility/edit/{{facility.id}}" class="btn mr-2" ><i class="fas fa-link"></i> Edit</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Delete</a>
          </div>
        </div>
      </div>
  </div>
</div>

<!--modal delete-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="card">
      <div class="card-img"> <img class="img-fluid" src="https://i.imgur.com/4niebFr.jpg"> </div>
      <div class="card-title">
        <p>Success!</p>
      </div>
      <div class="card-text">
        <p>Yay! It's a nice order! <br>It will arrive soon.</p>
      </div> <button class="btnModal">Track delivery</button>
    </div>
  </div>
</div>
