
<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Date Start</th>
    <th>Date end</th>
    <th>Deposit</th>
    <th>Total money</th>
    <th>Customer information</th>
    <th>Service information</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let contract of contractList">
    <td>{{contract.id}}</td>
    <td>{{contract.dateStart}}</td>
    <td>{{contract.dateEnd}}</td>
    <td>{{contract.deposit}}</td>
    <td>{{contract.totalMoney}}</td>
    <td>{{contract.customer.id}},{{contract.customer.name}}</td>
    <td>{{contract.facility.id}},{{contract.facility.name}}</td>
  </tr>
  </tbody>
</table>
